#header {
    height: 50px;
    background: #7db14e;;
    color: #070f05;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited {
    color: #000000;
}

div.breadcrumbs {
    background: #106823;
    color: #ffffff;
}
/* 59C22A */
div.breadcrumbs a{
    color: #000000;
}

.module h2, .module caption, .inline-group h2 {
    background: #7db14e;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #243f1c;
    color: #fff;
}